<?xml version="1.0" encoding="utf-8"?>
<Root>
  <Cauhinh>
    <Thoigian>30</Thoigian>
    <Xu>0</Xu>
    <Diem>0</Diem>
    <bonus>160</bonus>
    <hinh3>50</hinh3>
    <hinh2>15</hinh2>
    <hinh1>10</hinh1>
    <numofbonus>39</numofbonus>
    <countplay>597</countplay>
  </Cauhinh>
</Root>